@import "compass/css3";

@mixin both-center(){
  position: absolute;
  top:50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}
@mixin v-center(){
  position: absolute;
  top:50%;
  @include transform(translateY(-50%));
}
@mixin h-center(){
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}
@mixin grid(){
  @for $i from 1 through 12{

  }
}
$danger:#f74748;
$warning:#ffaa17;
$primary:#1a98ff;
$blue:#2ea7e0;
$green:#8fc31f;
$gray:#c8c8ce;
$dark-gray:#818181;
$btn-disabled:#dcdcdc;
$black:#3a3a3c;
$activebg:#1d82f8;
$placeholderColor:#e1e4e5;
@for $i from 1 through 20{
  .mt-#{$i*5}{
    margin-top: $i*.2rem !important;
  }
  .mb-#{$i*5}{
    margin-bottom: $i*.2rem !important;
  }
  .w-#{$i*5}{
    margin: 0 auto;
    width: percentage($i*5/100) !important;
  }
}
//grid
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 97, ../sass/luckmoney.scss */
.row:after {
  clear: both;
}
/* line 101, ../sass/luckmoney.scss */
[class^="col-"], [class*=" col-"] {
  position: relative;
  float: left;
  display: block;
}

/* line 107, ../sass/luckmoney.scss */
.col + .col {
  margin-left: 1.6%;
}

/* line 116, ../sass/luckmoney.scss */
.col-1 {
  width: 6.86666666667%;
}

/* line 120, ../sass/luckmoney.scss */
.col-2 {
  width: 15.3333333333%;
}

/* line 124, ../sass/luckmoney.scss */
.col-3 {
  width: 23.8%;
}

/* line 128, ../sass/luckmoney.scss */
.col-4 {
  width: 32.2666666667%;
}

/* line 132, ../sass/luckmoney.scss */
.col-5 {
  width: 40.7333333333%;
}

/* line 136, ../sass/luckmoney.scss */
.col-6 {
  width: 49.2%;
}

/* line 140, ../sass/luckmoney.scss */
.col-7 {
  width: 57.6666666667%;
}

/* line 144, ../sass/luckmoney.scss */
.col-8 {
  width: 66.1333333333%;
}

/* line 148, ../sass/luckmoney.scss */
.col-9 {
  width: 74.6%;
}

/* line 152, ../sass/luckmoney.scss */
.col-10 {
  width: 83.0666666667%;
}

/* line 156, ../sass/luckmoney.scss */
.col-11 {
  width: 91.5333333333%;
}

/* line 160, ../sass/luckmoney.scss */
.col-12 {
  width: 100%;
  margin-left: 0;
}

*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
html,body{
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB";
  overflow: scroll;
}
.page{
  display: none;
  margin: 0 auto;
  max-width: 750px;
  padding-bottom: 1.5rem;
  &.page-current{
    display: block;
  }
}


@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before { content: "\e631"; }
.icon-phone:before { content: "\e604"; }
.icon-password:before { content: "\e648"; }
.icon-home:before { content: "\e6a1"; }
.icon-close1:before { content: "\e630"; }
.icon-star:before { content: "\e64d"; }

.icon-arrowleft:before { content: "\e85f"; }
.n-btn {
  display: inline-block;
  padding: .36rem .3rem;
  margin-bottom: .1rem;
  font-size: .5rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background-color: $primary;
  color: #fff;
  border-radius: .2rem;
  outline: none;
  text-decoration: none;
  @include user-select(none);
  //@include transition(all .3s linear);
  &.btn-block {
    width: 100%;
  }
  &.btn-warning{
    background-color: $warning;
    &:active{
       background-color: #ffaa17;
    }
  }
  &:active {
    background-color: #ffa200;
  }
  &:disabled {
    background-color: $btn-disabled;
    color: $gray;
  }
  &.btn-small{
    padding: .15rem .7rem;
    border-radius: .1rem;
    font-size: .35rem;
    font-weight: normal;
    @include box-shadow(0px .04rem 0 #0082ed);
  }
}
input::-webkit-input-placeholder{
  color: $placeholderColor;
}
input{
  color: $dark-gray;
}